:root {
    --teal-400: #5affd2;

    --gray-900: #010101;
    --gray-800: #111111;
    --gray-700: #1c1c1c;
    --gray-600: #292929;
    --gray-400: #73787d;
    --gray-300: #adb5bd;

    --off-white: #f8f9fa;
    --white: #fff;

    --black: #000;
}
